<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: head"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/projects/save" method="post" th:object="${project}">
                <input type="text" placeholder="Project Name" th:field="${project.name}">
                <select th:field="${project.stage}">
                    <option th:each="stageOpt : ${T(com.blitzstriker.projectmanagement.entities.Stage).values()}"
                            th:value="${stageOpt}" th:text="${stageOpt.displayValue}">
                    </option>
                </select>
                <textarea cols="30" rows="10" placeholder="Enter project description" th:field="${project.description}"></textarea>
                <select th:field="*{employees}" multiple="multiple">
                    <option th:each="employee : ${allEmployees}" th:value="${employee.id}" th:text="${employee.firstName}"></option>
                </select>
                <button type="submit">Create Project</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>